[% SET top = '%0, 0' %]
[%- FOREACH key = columns.keys %]
[%- SET ctrltype = columns.$key.ctrltype -%]
[%- SET datatype = columns.$key.datatype -%]

[%- IF ctrltype == 'e' -%]
  [%- PROCESS component/entry.tt -%]
[%- ELSIF ctrltype == 'd' -%]
  [%- PROCESS component/dateentry.tt -%]
[%- ELSIF ctrltype == 'm' -%]
  [%- PROCESS component/jcombobox.tt -%]
[%- ELSIF ctrltype == 't' -%]
  [%- PROCESS component/text.tt -%]
[%- END -%]

[% SET top = "\$l${key}, 8" -%]
[% END -%]
